@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  
  .animate-slideDown {
    animation: slideDown 0.5s ease forwards;
  }
  
  .animate-slideUp {
    animation: slideUp 0.5s ease forwards;
  }
  

  
/* Thin scrollbar */
::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 20px;
}

/* .custom-checkbox {
  width: 20px; 
  height: 20px;
} */

